@{
    ViewBag.Title = "Patient Overview";
}

<div class="overview-content">
    <h5>Overview Content</h5>
    @* left overview content *@
    <div class="left-overview-panel">
        <h5>Today</h5>
        @* Content Cards *@

    </div>
    @* right overview content *@
    <div>

    </div>
    <!-- Your overview content here -->
</div>